.page-form {
    padding: 15px 0px;
    border: 1px solid $border-color;
    border-top-left-radius: $border-menu-radius;
    border-bottom-left-radius: $border-menu-radius;
    background: $module-page-form-background;
}
