@import "./components/SubjectFields/index.scss";
@import "./components/BarcodeFields/index.scss";
.authors,
.accessions {
  .author,
  .accession {
    &:hover {
      background: $table-hover-background;
    }
    margin: 5px;
    padding: 15px 10px 0px 10px;
    border: 1px solid $border-color;
    .remove-button {
      margin-left: -10px;
      margin-top: -15px;
      margin-bottom: 15px;
    }
  }
}

.call-number {
  #callNumber_main_form,
  #callNumber_cutter_form,
  #callNumber_suffix_form {
    .field-view {
      border-radius: 0 !important;
    }
  }
}
