@import './components/SubjectFields/index.scss';
@import './components/AuthorFields/index.scss';

.author-fields {
  .author {
    &.form-group {
      margin: 15px;
    }
  }
  .input-group {
    margin: 15px;
  }
}

.call-number {
  #callNumber_main_form, #callNumber_cutter_form, #callNumber_suffix_form {
    .field-view {
      border-radius: 0 !important;
    }
  }
}
