@import './components/SubjectFields/index.scss';
@import './components/AuthorFields/index.scss';

.author-fields {
  .author {
    &.form-group {
      margin: 15px;
    }
  }
  .input-group {
    margin: 15px;
  }
}
