.table {
    border: 1px solid $border-color;
    tbody {
        background: $table-background-color;
    }
    thead {
        th {
            background: $table-header-bg-color;
            color: $table-header-font-color;
            font-weight: 500;
            font-size: 16px;
            padding: 10px !important;
        }
    }
    .fluid-table-filter-row {
        display: none;
    }
    &.table-hover {
        tbody {
            tr.fluid-row {
                &:hover {
                    cursor: pointer !important;
                    background-color: $table-hover-background;
                }
            }
        }
    }
}
