.table {
    &.table-hover {
        tbody {
            background: $table-background-color;
            tr {
                &:hover {
                    cursor: pointer !important;
                    background-color: $table-hover-background;
                }
            }
        }
    }
}
