@import './common/index.scss';
@import './SearchResult/index.scss';
@import './Search/index.scss';
@import './RecordView/index.scss';
@import './Page/index.scss';
@import './CatalogingBarcode/index.scss';
