.barcodes {
  .barcode {
    padding: 0.05in;
    float: left;
    background: white;
    .barcode-container {
      border: 3px dashed $border-color;
      height: 1.1in;
      width: 2.635in;
      .barcode-header {
        padding: 4px;
        text-align: center;
        font-weight: 550;
      }
      .barcode-component {
        svg {
          margin-left: 14%;
          margin-right: auto;
        }
      }
    }
  }
}
