.layout-editor {
  .property-container {
    display: inline-block;
  }
  .editor-container {
    text-align: center;
    padding: .5cm;
    &.grids {
      background-color: white;
      background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, 1) 25%,
        rgba(0, 0, 0, 1) 26%, transparent 27%, transparent 74%,
        rgba(0, 0, 0, 1) 75%,
        rgba(0, 0, 0, 1) 76%, transparent 77%, transparent),
      linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, 1) 25%,
          rgba(0, 0, 0, 1) 26%, transparent 27%, transparent 74%,
          rgba(0, 0, 0, 1) 75%,
          rgba(0, 0, 0, 1) 76%, transparent 77%, transparent);

      background-size: .5cm .5cm;
    }
    .content-pane {
      display: inline-block;
      border: 2px solid black;
      &.large {
        height: 11cm;
        width: 15cm;
      }
      &.standard {
        width: 12.5cm;
        height: 7.5cm;
      }
    }
  }
}
